@forward './Components/reset';
@forward './Components/custom-properties';

@mixin flex($direction, $gap){
    display: flex;
    flex-direction: $direction;
    gap: $gap;
}

body{
    font-family: var(--font-family);
    font-size: var(--font-size-400);
}

//Sets inline spacing of the elements
.container{
    max-width: clamp(60%, 70vw, 90rem);
    margin-inline: auto;
}

button[type="button"], button[type="submit"]{
    background-color: var(--clr-primary-cyan);
    padding: .5rem 1.5rem;
    border: 0;
    border-radius: 2rem;
    color: #fff;
    font-weight: var(--font-weight-500);
}

.header{
    padding-block: 2rem;

    &__nav{
        @include flex(row, 5rem);
        &--tabs{
            display: none;
            & ul{
                @include flex(row, 2rem);
                align-items: center;
                & li a{
                    text-decoration: none; 
                    color: var(--clr-netural-grayish-purple); 
                    font-size: var(--font-size-300);
                    font-weight: var(--font-weight-500);
                    white-space: nowrap;
                    &:hover, &:focus{
                        color: var(--clr-netural-dark-purple);
                        font-weight: var(--font-weight-700);
                    }
                    
                }
            }
        }
        & .dialogs{margin-left: auto;}
    }

    & .signup{
        background-color: var(--clr-primary-cyan);
        padding: .5rem 1rem;
        border-radius: 2rem;
        color: #fff;
        font-weight: var(--font-weight-500);       
        &:hover, &:focus{opacity: .6; color: #fff;}
    }

    & button{
        display: inline;
        background-color: transparent;
        border: 0;
        margin-left: auto;
        cursor: pointer;
    }
}

.hero{
    @include flex(column, 2rem);
    align-items: center;
    padding-block: 5rem;
    justify-content: space-between;
    overflow: hidden;
    max-width: 100%;
    

    & img{
        position: relative;
        max-height: 30rem;
        right: -2rem;
    }

    &__heading{
        text-align: center;
        padding-inline: 2rem;
        & h1{
            font-size: var(--font-size-900);
            font-weight: var(--font-weight-700);
            line-height: 1.2
        }
        & p{
            max-width: 40ch;
            color: var(--clr-netural-grayish-purple);
        }
        & button{margin-top: 2rem;}
    }
}

.middle{
    background-color: var(--clr-neutral-off-gray);

    &__shorten{
        position: relative;
        inset: -3.5rem 0 auto 0;
        margin: auto;

        &--link{
            background-color: #fff;
            padding: .5rem 1rem;
            margin-block: 1rem
        }
        
        & form{
            @include flex(row, 2rem);
            background-color: var(--clr-primary-purple);
            background-image: url("src/assets/bg-shorten-desktop.svg");
            padding: 2rem;

            & label{
                position:absolute;
                left:-10000px;
                top:auto;
                width:1px;
                height:1px;
                overflow:hidden;
            }

            & input{
                position: relative;
                padding: .5rem;
                border-radius: 5px;
                border: 0;
                width: 100%;
            }

            & button{
                margin-left: auto;
                white-space: nowrap;
                border-radius: .5rem;
                cursor: pointer;
                &:hover, &:focus{
                    background-color: transparent;
                    border: 1px solid var(--clr-primary-cyan);
                }
            }
        }
    }
}

@media(min-width: 61rem){
    .header{
        & button{display: none;}
        &__nav{
            &--tabs{
                display: inline;
            }
        }
    }

    .hero{
        flex-direction: row;
        max-width: clamp(60%, 70vw, 90rem);
        margin-inline: auto;
        & img{
            order: 2;
        }
    }
}

@media(max-width: 600px){
    .middle{
        &__shorten{
            background-image: url("src/assets/bg-shorten-mobile.svg");
            background-position: top right;
            background-repeat: no-repeat;
            inset: -5rem 0 auto 0;

            & form{
                flex-direction: column;
                gap: 1rem;
                & button{
                    width: 100%
                }
            }
        }
    }
}